.card--filter-input {
  width: 100%;
  height: 23px;
}

.cardList--item--name {
  text-align: center;
}

.cardList--item {
  width: 33%;
  text-align: center;
  list-style: none;
  float: left;
}

.cardList--item--picture {
  height: 80px;
  display: block;
}

.cardList--item--effect {
  display: block;
}

.cardList--item--description {
  display: block;
}

.cardList--item--filter {
  display: block;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}